.section_wrap {
  width: 100%;
  height: 980px;
  float: left;
  position: relative;
  right: 0px;
  top: 0px;
}

#main_visual_bg {
  background: #2d2d2d;
}

#visual_bg_wrap {
  width: 80%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  float: left;
}

#visual_bg_list {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 2;
  float: left;
  overflow: hidden;
}

#visual_bg_list > li {
  width: 0%;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 0;
}

#visual_bg_list > li:nth-child(1) {
  width: 100%;
  background: #6d1a00;
}

.main_visual {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.section_inner {
  width: 1200px;
  height: 100%;
  margin: 0px auto;
  position: relative;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.section_inner .main_slide_wrap {
  width: 1200px;
  height: 642px;
  z-index: 9999;
  position: relative;
}

.new_visual_img_list {
  width: 0px;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 3;
}

.new_visual_img_list > img {
  width: 820px;
  height: 642px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.visual_img_list {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 2;
  width: 100%;
}

#visual_img_wrap {
  width: 820px;
  height: 642px;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 3;
  overflow: hidden;
}

#main_visual_img_list {
  width: 100%;
  height: 100%;
}

#main_visual_img_list > li {
  width: 0%;
  height: 100%;
  float: right;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 0;
}

#main_visual_img_list > li:nth-child(1) {
  width: 100%;
}

#main_visual_img_list > li > img {
  width: 820px;
}

#main_visual_text_list {
  width: 380px;
  height: 256px;
  float: left;
  position: absolute;
  left: 0px;
  top: 16%;
  z-index: 2;
}

#main_visual_text_list > li {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 60px;
  display: none;
  opacity: 0.5;
}

.top_title {
  height: 19px;
  font: normal 16px "Noto Sans KR";
  padding-bottom: 9px;
  color: white;
}

#main_title_bar {
  width: 80px;
  border-bottom: solid 1px white;
}

.main_title {
  font: normal 48px "Noto Sans KR";
  line-height: 56px;
  margin-bottom: 20px;
  margin-top: 29px;
  color: white;
  word-break: keep-all;
}

#main_visual_sub_title {
  font: normal 18px "Noto Sans KR";
  margin-top: 5px;
  color: white;
}

#main_visual_plus_icon {
  margin-top: 35px;
  font-size: 22px;
  color: white;
}

.section_wrap {
  width: 100%;
  height: 980px;
  float: left;
  position: relative;
  left: 0px;
  top: 0px;
}
.section_wrap .visual_inner {
  width: 100%;
  height: 100%;
  position: relative;
  left: 0px;
  top: 0px;
}
.section_wrap #main_visual_bg {
  background: #2d2d2d;
}
.section_wrap #main_visual_list {
  width: 100%;
  height: 100%;
}
.section_wrap #main_visual_list > li {
  width: 100%;
  height: 100%;
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}
.section_wrap #main_visual_list > li > img {
  width: 820px;
  height: 642px;
  float: right;
  margin-top: 125px;
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 2;
}
.section_wrap .main_visual_bg {
  width: 1150px;
  height: 100%;
  position: absolute;
  left: -352px;
  top: 0px;
  z-index: 0;
  float: left;
}
.section_wrap #first_bg_color {
  background: #6D1A00;
}
.section_wrap #second_bg_color {
  background: #005C8F;
}
.section_wrap #third_bg_color {
  background: #505050;
}

.main_visual_text {
  width: 380px;
  height: 256px;
  float: left;
  position: relative;
  left: 0px;
  top: 320px;
  z-index: 2;
}
.main_visual_text .top_title {
  height: 19px;
  font: normal 16px "Noto Sans KR";
  padding-bottom: 9px;
  color: white;
}
.main_visual_text #main_title_bar {
  width: 80px;
  border-bottom: solid 1px white;
}
.main_visual_text .main_title {
  font: normal 52px "Noto Sans KR";
  margin-bottom: 25px;
  margin-top: 29px;
  color: white;
}
.main_visual_text #main_visual_sub_title {
  font: normal 18px "Noto Sans KR";
  margin-top: 5px;
  color: white;
}
.main_visual_text #main_visual_plus_icon {
  margin-top: 35px;
  font-size: 22px;
  color: white;
}

#main_slide_control_wrap {
  width: 313px;
  height: 80px;
  margin-top: 590px;
  position: absolute;
  left: 0px;
  bottom: 100px;
  z-index: 3;
}

.btn_wrap {
  width: 30%;
  height: 50%;
  float: left;
}

.btn_wrap > li {
  width: 33.33%;
  height: 100%;
  float: left;
  text-align: center;
  font-size: 25px;
  color: white;
  line-height: 50px;
  cursor: pointer;
  position: relative;
  left: 0px;
  top: 0px;
}

.play_btn {
  font-size: 35px;
  color: white;
  position: absolute;
  left: 11.1%;
  top: 7.5px;
  z-index: -1;
  opacity: 0;
}

.play_btn_black {
  color: black;
}

.slide_number {
  width: 70%;
  height: 50%;
  float: left;
  margin-bottom: 10px;
}

.slide_number > li {
  width: 33.33%;
  height: 100%;
  float: left;
  text-align: center;
  font: normal 20px "Noto Sans KR";
  color: white;
  text-decoration: none;
  line-height: 50px;
  cursor: pointer;
}

.slide_number > li > a {
  font: normal 20px "Noto Sans KR";
  color: white;
  text-decoration: none;
  line-height: 50px;
}

.slide_number > li.selected {
  font-weight: bold;
}

#main_slide_bar {
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.89);
  position: absolute;
  left: 0px;
  top: 50px;
  z-index: 3;
}

#main_slide_bar > span {
  width: 67px;
  height: 3px;
  background: white;
  display: block;
  margin-left: 97px;
  margin-top: -1px;
  position: relative;
  left: 0px;
  top: 0px;
}

#main_slide_text {
  width: 100%;
  height: 50%;
  font: normal 16px "Noto Sans KR";
  float: left;
  padding: 10px 0px;
  box-sizing: border-box;
  color: white;
}

#contents_covid_slide {
  width: 300%;
  height: 100%;
  float: left;
  position: relative;
  left: 0px;
  top: 0px;
}

#contents_covid_slide > li {
  width: 33.3334%;
  height: 100%;
  float: left;
}

#contents_covid_slide > li > img {
  width: 833px;
  height: 577px;
  float: left;
  margin-top: 12%;
}

#contents_covid_txt {
  width: 254px;
  float: left;
  margin-left: 99px;
  margin-top: 23%;
}

#covid_title_bar {
  color: black;
  width: 105px;
  border-bottom: solid 1px black;
}

#contents_covid_txt > p {
  color: black;
}

#covid_sub_title {
  width: 254px;
  font: normal 20px "Noto Sans KR";
  margin-bottom: 73px;
}

button#covid_btn {
  width: 251px;
  height: 52px;
  border: solid 1px black;
  text-align: center;
  background: none;
  font: normal 16px/52px "Noto Sans KR";
  color: black;
}

#contents_covid_control_wrap {
  width: 313px;
  height: 50px;
  position: absolute;
  right: 0%;
  bottom: 10%;
}

#contents_covid_control_wrap ul li {
  color: black;
}

#video_contents_bg {
  background: black;
}

#contents_video {
  width: 1030px;
  height: 578px;
  position: absolute;
  left: 50%;
  margin-left: -515px;
  top: 50%;
  margin-top: -289px;
}

#contents_video > embed {
  width: 100%;
  height: 100%;
}

#contents_video > img {
  width: 100%;
}

h2.contents_title {
  margin: 0px auto;
  font: normal 20px "Noto Sans KR";
  text-align: center;
  padding-bottom: 5px;
  margin-bottom: 50px;
  margin-top: 130px;
}

h2#contents_product_title_bar {
  width: 85px;
  border-bottom: solid 1px black;
}

#product_info_list {
  width: 100%;
  height: 490px;
  overflow: hidden;
}

#product_info_list > li {
  width: 290px;
  height: 100%;
  margin: 0px 5px;
  float: left;
  transition: 0.5s ease;
  position: relative;
  left: 0px;
  top: 0px;
}

#product_info_list > li > img {
  width: 100%;
}

.product_text {
  width: 100%;
  position: absolute;
  left: 30px;
  bottom: 30px;
}

.product_name {
  font: bold 18px "Noto Sans KR";
}

.product_explain {
  font: normal 16px "Noto Sans KR";
  margin-top: 10px;
}

.product_detail_info {
  width: 100%;
  height: 100%;
  background: #002b5c;
  opacity: 0.9;
  position: absolute;
  left: 0px;
  top: 490px;
  padding-top: 189px;
  box-sizing: border-box;
}

.product_font_color {
  color: white;
  margin-left: 30px;
}

button.more_product_btn {
  width: 180px;
  height: 52px;
  border: solid 1px black;
  text-align: center;
  position: relative;
  left: 50%;
  margin-left: -90px;
  top: 0px;
  margin-top: 84px;
  font: normal 16px/52px "Noto Sans KR";
  background: none;
  cursor: pointer;
}

button.img_btn_border {
  border-color: white;
  margin-top: 80px;
  color: white;
}

h2#notice_title_bar {
  width: 50px;
  border-bottom: solid 1px black;
}

#notice_tabmenu_wrap {
  width: 561.5px;
  height: 354px;
  float: left;
  margin-right: 48.5px;
}

#tabmenu_list {
  width: 80%;
  height: 52px;
  float: left;
  border: solid 1px black;
  box-sizing: border-box;
  border-bottom: none;
}

#tabmenu_list > li {
  width: 33.3335%;
  height: 100%;
  float: left;
  text-align: center;
  border-right: solid 1px black;
  box-sizing: border-box;
}

#tabmenu_list > li > a {
  display: block;
  width: 100%;
  height: 100%;
  font: normal 14px/52px "Noto Sans KR";
  text-decoration: none;
  color: black;
}

#tabmenu_list > li:last-child {
  border-right: none;
}

#tabmenu_list > li > a.selected {
  width: 100%;
  background: #3f3f3f;
  color: white;
}

#panel_list {
  width: 100%;
  height: 338px;
  border-top: solid 1px black;
  float: left;
}

#panel_list > li {
  width: 100%;
  height: 100%;
  padding: 0px;
  box-sizing: border-box;
}

#sub_panel_list {
  width: 100%;
  height: 100%;
}

#sub_panel_list > li {
  width: 100%;
  height: 16.67%;
}

#sub_panel_list > li > a {
  font: normal 14px/56.33px "Noto Sans KR";
  text-decoration: none;
  color: black;
  display: block;
  position: relative;
  left: 0px;
  top: 0px;
}

#sub_panel_list > li > a > span {
  text-align: right;
  position: absolute;
  right: 0px;
  top: 0px;
}

.notice_icon {
  width: 36px;
  height: 23px;
  font-size: 14px;
  float: left;
  border: solid 1px black;
  line-height: 23px;
  text-align: center;
  margin-top: 17px;
  margin-right: 12px;
}

.notice_icon {
  text-decoration: none;
  color: black;
}

#tabmenu_plus_icon {
  text-align: right;
}

#tabmenu_plus_icon > a {
  font: normal 11px/52px "Noto Sans";
  text-decoration: none;
  color: black;
}

#notice_popup_wrap {
  width: 588px;
  height: 368px;
  float: left;
  position: relative;
  left: 0px;
  top: 23px;
  margin-bottom: 30px;
}

.notice_sub_title {
  font: normal 18px "Noto Sans KR";
  margin-bottom: 4px;
}

#popup_title {
  float: left;
}

#popup_btn_wrap {
  width: 95px;
  height: 15px;
  float: left;
  margin-top: 5px;
}

#popup_btn_wrap > li {
  width: 33.33%;
  text-align: center;
  float: left;
}

#popup_btn_wrap > li > a {
  font-size: 15px;
  color: black;
  line-height: 15px;
  text-decoration: none;
}

#popup_play {
  font-size: 25px;
  color: black;
  position: absolute;
  top: 1px;
  left: 73px;
  z-index: -1;
  opacity: 0;
}

#popup_section_wrap {
  width: 588px;
  height: 338px;
  position: relative;
  left: 0px;
  top: 0px;
  overflow: hidden;
}

#popup_visual_list {
  width: 100%;
  height: 100%;
  float: left;
  background: #2d2d2d;
  position: absolute;
  left: 0px;
  top: 0px;
}

#popup_visual_list > li {
  width: 33.334%;
  height: 100%;
  float: left;
}

#popup_visual_list > li > img {
  width: 100%;
}

#popup_slide_gather {
  width: 52px;
  height: 13px;
  float: left;
  position: absolute;
  right: 0px;
  top: 6px;
}

#popup_slide_gather > li {
  width: 13px;
  height: 13px;
  border-radius: 6px;
  background: #c4c4c4;
  float: left;
  margin-right: 6px;
}

#popup_slide_gather > li:last-child {
  margin-right: 0px;
}

#popup_slide_gather > li.selected {
  background: #6a6a6a;
}

#notice_movie_wrap {
  width: 589px;
  height: 204px;
  float: left;
  margin-right: 20px;
  clear: both;
  margin-top: 13px;
}

#movie_list {
  width: 100%;
  height: 155px;
  margin-top: 28px;
}

#movie_list > li {
  width: 183px;
  height: 100%;
  margin-right: 20px;
  float: left;
  text-align: center;
}

#movie_list > li:last-child {
  margin-right: 0px;
}

#movie_list > li > a {
  text-decoration: none;
  color: black;
}

.movie_link {
  width: 183px;
  height: 100px;
  margin-bottom: 35px;
}

.movie_link > embed {
  width: 100%;
  height: 100%;
}

.movie_news_title {
  width: 100%;
  height: 19px;
  font: normal 16px/19px "Noto Sans KR";
}

#notice_news_wrap {
  width: 591px;
  height: 203px;
  float: left;
  margin-top: 8px;
}

#news_list {
  width: 591px;
  height: 174px;
  margin-top: 8px;
}

#news_list > li {
  width: 183px;
  height: 100%;
  margin-right: 21px;
  float: left;
  text-align: center;
}

#news_list > li:last-child {
  margin-right: 0px;
}

#news_list > li > a {
  text-decoration: none;
  color: black;
}

.news_link {
  width: 183px;
  height: 144px;
  margin-bottom: 11px;
}

.news_link > img {
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
